@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

#mapa{

	width: 90%;
	height: 300px;

}

.social{
	text-align: center;
	margin-top: 0px;
	padding-bottom: 10px;
}

.social-icons{
	margin-top: 5px;
	width: 30px;
	height: 30px;
	padding-right: 3%;
}



body{
	background-color: #ddd;
}

section{
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	clear: both;
	font-family: Roboto Slab;
	background-color: #cbd0d3;
	border-bottom: 1px solid white;
	font-size: 1.1em;
}

section > h2{
	padding-left: 4%;
	padding-bottom: 10px;
	font-size: 0.8em;
	margin-top: 0px;
	margin-bottom: 0px;
	max-width: 1170px;
}

article{
	padding-left: 5%;
	margin-left: 0px;
	margin-right: 0px;
	border-top: 1px solid white;
	margin-bottom: 10px;
}
p{
	margin-bottom: 10px;

}

@media only screen and (min-width: 361px){

article{

	display: inline-block;
	width: 40%;
	min-height: 500px;
	margin-left: 2%;
	border-top: 0px;
	vertical-align: top;

}

article > h3{
	font-size: 1.8em;
}

section > h2{
	border-bottom: 1px solid white;
}

.social{
	text-align: left;
}

}
