@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

section{
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	clear: both;
	font-family: Roboto Slab;
	background-color: #cbd0d3;
	border-bottom: 1px solid white;
	font-size: 1.1em;
}

section > h2{
	padding-left: 4%;
	padding-bottom: 10px;
	font-size: 0.8em;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
}

article{
	padding-left: 5%;
	margin-left: 0px;
	margin-right: 0px;
	border-top: 1px solid white;
	margin-bottom: 10px;
}

article > p{
	padding-right: 5%;
}

article > img{
	width: 90%;
	max-width: 360px;
}
a:visited{
	text-decoration: none;
	color: blue;
}

.social{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 0px;
}

#expanded{
	display: none;
}

.social-icons{
	margin-top: 5px;
	width: 30px;
	height: 30px;
	padding-right: 3%;
}

@media only screen and (min-width: 361px) {
	article {
		display: inline-block;
		width: 40%;
		min-height: 500px;
		margin-left: 2%;
		border-top: 0px;
	}
	article > p {
		text-align: justify;
		min-height: 115px;
	}
	section > h2{
		border-bottom: 1px solid white;
	}
	article > img {
		max-width: 100%;
		height: 250px;
	}
}

